.card-wrapper {
  color: inherit;
  height: 100%;
  position: relative;
  text-decoration: none;
}

.card {
  text-decoration: none;
  text-align: var(--text-alignment);
}
.card:not(.ratio) {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card:not(.ratio) > .card__content {
  grid-template-rows: max-content minmax(0, 1fr) max-content auto;
}
.card:not(.card--horizontal) > .card__content > .card__badge {
  margin: 1.3rem;
}
.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}
.card.card--horizontal {
  --text-alignment: left;
  --image-padding: 0rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}
.card--horizontal.ratio:before {
  padding-bottom: 0;
}
.card--horizontal .card__heading,
.card--horizontal .price__container .price-item, .card--horizontal__quick-add {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}
@media (min-width: 750px) {
  .card--horizontal .card__heading,
  .card--horizontal .price__container .price-item, .card--horizontal__quick-add {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}
.card--horizontal .card-information > *:not(.visually-hidden:first-child) + *:not(.rating) {
  margin-top: 0;
}
.card--horizontal .card-information > .price {
  color: rgba(var(--color-foreground), 0.75);
}
.card--horizontal__quick-add:before {
  box-shadow: none;
}
.card--horizontal.card--text .card__inner,
.card--horizontal .card__badge {
  display: none;
}
.card--card {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #000;
  overflow: hidden;
}
.card--card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(var(--border-width) * 2 + 100%);
  height: calc(var(--border-width) * 2 + 100%);
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  border-radius: var(--border-radius);
}
.card--card.card--horizontal {
  padding: 1.2rem;
}
.card--card.card--horizontal.card--text {
  column-gap: 0;
}
.card--card .card__inner .card__media {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card--card.card--media > .card__content {
  margin-top: calc(0rem - var(--image-padding));
}
.card--card.card--media .card__inner .card__information, .card--card.card--text .card__inner, .card--card.card--media > .card__content .card__badge {
  display: none;
}
.card .card__inner .card__media {
  overflow: hidden;
  background-color: #fff;
  /* Fix for Safari border bug on hover */
  z-index: 0;
  border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
}
.card--standard .card__inner {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #000;
  overflow: hidden;
}
.card--standard .card__inner:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(var(--border-width) * 2 + 100%);
  height: calc(var(--border-width) * 2 + 100%);
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  border-radius: var(--border-radius);
}
.card--standard.card--text {
  background-color: transparent;
}
.card--standard .card__media {
  margin: var(--image-padding);
}
.card--standard.card--media .card__inner .card__information, .card--standard.card--text:not(.card--horizontal) > .card__content .card__heading, .card--standard:not(.card--horizontal) > .card__content .card__badge, .card--standard.card--text.article-card > .card__content .card__information, .card--standard > .card__content .card__caption {
  display: none;
}
.card--standard > .card__content {
  padding: 0;
}
.card--standard > .card__content .card__information {
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
}
.card--standard.card--text a::after, .card--card .card__heading a::after {
  bottom: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  right: calc(var(--border-width) * -1);
  top: calc(var(--border-width) * -1);
}
.card__media, .card .media {
  bottom: 0;
  position: absolute;
  top: 0;
}
.card .media {
  width: 100%;
}
.card__media {
  margin: var(--image-padding);
  width: calc(100% - 2 * var(--image-padding));
}
.card__media .media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.card__media__like {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 4;
  cursor: pointer;
  top: 7px;
  right: 8px;
}
.card__media__like .icon {
  width: 19px;
  height: 18px;
}
.card__media__like .icon path {
  fill: #000;
}
.card__media__like .icon-heart-filled {
  padding: 1px;
  display: none;
  overflow: visible;
}
.card__media__like .icon-heart-filled path {
  fill: #FF4250;
  stroke-width: 2px;
  stroke: #000;
  stroke-linejoin: round;
}
.card__media__like.is-added .icon-heart-filled {
  display: block;
}
.card__media__like.is-added .icon-heart-thick {
  display: none;
}
.card--force-square {
  --media-padding: 0px;
}
.card--force-square .card__media {
  padding: var(--media-padding);
}
.card--force-square .ratio::before {
  padding-bottom: 100%;
}
.card--force-square .media {
  width: calc(100% - 2 * var(--media-padding));
}
.card--force-square .media > *:not(.zoom):not(.deferred-media__poster-button), .card--force-square .media model-viewer {
  max-width: calc(100% - var(--media-padding));
  left: 50%;
  transform: translateX(-50%);
}
.card--force-square .media > img {
  object-fit: scale-down;
}
.card-information {
  width: 100%;
  text-align: var(--text-alignment);
  display: flex;
  margin-top: 5px;
}
.card-information > * {
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}
.card-information > .price {
  color: rgb(var(--color-foreground));
  font-family: "fot-udkakugo-large-pr6n", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.card-information > .rating {
  margin-top: 0.4rem;
}
.card-information > *:not(.visually-hidden:first-child) + *:not(.rating) {
  margin-top: 1px;
}
.card-information .caption {
  letter-spacing: 0.07rem;
}
.card-information > .card-information__like {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 6;
  cursor: pointer;
}
.card-information > .card-information__like .icon {
  width: 16px;
  height: 12px;
}
.card-information > .card-information__like .icon path {
  fill: #cbcbcb;
}
.card-information > .card-information__like .icon-heart-filled {
  display: none;
}
.card-information > .card-information__like .icon-heart-filled path {
  fill: #FFDC00;
}
.card-information > .card-information__like.is-added .icon-heart-filled {
  display: block;
}
.card-information > .card-information__like.is-added .icon-heart-thick {
  display: none;
}
.card__inner {
  width: 100%;
}
.card--media .card__inner .card__content {
  position: relative;
  padding: calc(var(--image-padding) + 1rem);
}
.card__inner:not(.ratio) > .card__content {
  height: 100%;
}
.card__content {
  display: grid;
  grid-template-rows: minmax(0, 1fr) max-content minmax(0, 1fr);
  padding: 1rem;
  width: 100%;
  flex-grow: 1;
}
.card__content--auto-margins {
  grid-template-rows: minmax(0, auto) max-content minmax(0, auto);
}
.card__information {
  grid-row-start: 2;
  padding: 1rem 1rem;
}
@media (min-width: 750px) {
  .card__information {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
  }
}
.card__information__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 5px;
}
.card__information__tags__tag {
  font-family: "como", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.2px 7px;
  line-height: 1;
  border-radius: 8px;
  color: #000;
  background-color: #FFDC00;
  font-size: 8px;
}
@media (max-width: 749px) {
  .card__information__tags__tag {
    font-size: 6px;
    padding: 2.8px 8px;
  }
}
.card__information__tags__tag--soldout {
  background-color: #000;
  color: #fff;
}
.card__information__tags__tag--reserve {
  font-family: "fot-udkakugo-large-pr6n", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: transparent;
  color: #FF4250;
  border: 1px solid #FF4250;
}
.card__badge {
  align-self: flex-end;
  grid-row-start: 3;
  justify-self: flex-start;
}
.card__badge.top {
  align-self: flex-start;
  grid-row-start: 1;
}
.card__badge.right {
  justify-self: flex-end;
}
.card__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "fot-udkakugo-large-pr6n", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.08em;
}
.card__heading:last-child {
  margin-bottom: 0;
}
.card__heading.h5 {
  font-size: 12.25px;
}
.card__heading a::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  outline-offset: 0.3rem;
}
.card__heading a:focus {
  box-shadow: none;
  outline: 0;
}
.card__heading a:focus::after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}
.card__heading a:focus:not(:focus-visible):after {
  box-shadow: none;
  outline: 0;
}
.card__heading a:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}
.card--extend-height.card--standard.card--text, .card--extend-height.card--media {
  display: flex;
  flex-direction: column;
}
.card--extend-height.card--standard.card--text .card__inner, .card--extend-height.card--media .card__inner {
  flex-grow: 1;
}
.card-article-info {
  margin-top: 1rem;
}
.card__works {
  font-size: 10px;
  color: #8e8e8e;
  margin-top: 5px;
  letter-spacing: 0.08em;
  font-family: "fot-udkakugo-large-pr6n", sans-serif;
  font-weight: 600;
  font-style: normal;
  transform: scale(0.8);
  transform-origin: bottom left;
}
.card .wishlist-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 4;
  cursor: pointer;
  top: 7px;
  right: 8px;
}
.card .wishlist-btn .icon {
  width: 19px;
  height: 18px;
}
.card .wishlist-btn .icon path {
  fill: #000;
}
.card .wishlist-btn .icon-heart-filled {
  padding: 1px;
  display: none;
  overflow: visible;
}
.card .wishlist-btn .icon-heart-filled path {
  fill: #FF4250;
  stroke-width: 2px;
  stroke: #000;
  stroke-linejoin: round;
}
.card .wishlist-btn.is-added .icon-heart-filled {
  display: block;
}
.card .wishlist-btn.is-added .icon-heart-thick {
  display: none;
}
.card .wishlist-btn img {
  margin-top: 0 !important;
  margin-right: 0 !important;
  width: 19px;
  height: 18px;
  object-fit: contain;
}

@media screen and (min-width: 990px) {
  .card .media.media--hover-effect > img:only-child,
  .card-wrapper .media.media--hover-effect > img:only-child {
    transition: transform var(--duration-long) ease;
  }
  .card:hover .media.media--hover-effect > img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect > img:first-child:only-child {
    transform: scale(1.03), translateX(-50%);
  }
  .card-wrapper:hover .media.media--hover-effect > img:first-child:not(:only-child) {
    opacity: 0;
  }
  .card-wrapper:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transition: transform var(--duration-long) ease;
    transform: scale(1.03), translateX(-50%);
  }
  .underline-links-hover:hover a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

/*# sourceMappingURL=component-card.css.map */
